<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ProviderInvariantName" value="System.Data.SqlClient" />
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="Target" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=DbTransmogrifier;Data Source=.\SQLEXPRESS"/>
    <add name="Master" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=master;Data Source=.\SQLEXPRESS"/>
  </connectionStrings>
</configuration>