<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ProviderInvariantName" value="System.Data.SqlClient"/>
    <add key="DbCommandTimeoutSeconds" value="600"/>
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="Target" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=DbTransmogrifier;Data Source=.\SQLEXPRESS"/>
    <add name="Master" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=master;Data Source=.\SQLEXPRESS"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
